
.fromControl.error input,
.fromControl.error textarea {
    border: 2px solid firebrick;
}
.fromControl.error span {
    color: firebrick;
}

.formSummaryError {
    border: 1px solid firebrick;
    padding: 5px;
    color: firebrick;
    display: inline-block;
}