.header {
    grid-area: h;
    grid-column: 1/-1;
    background-color: #26A69A;
}
.header img {
    width: 60px;
    padding: 4px;
    padding-left: 35px;
}
.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}
