.nav {
    grid-area: n;
    background-color: #212121;
    padding: 20px;
    overflow: hidden;

}

.item a {
    color: #727475;
    text-decoration: none;

}

.item a.activeLink {
    color: coral;
}

.item{
    padding-top: 25px;

}
