.nav {
    grid-area: n;
    background-color: #212121;
    overflow: hidden;
    width: 200px;
}

.item a {
    color: #727475;
    text-decoration: none;
    line-height: 48px;
    padding-left: 16px;
    font-size: 1.15rem;

}

.item a.activeLink {
    color: coral;
}


