.item{
    padding-top: 25px;
    padding-bottom: 10px;
    /*padding-left: 55px;*/
    text-align: center;
}

.itemImg img {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    padding: 8px;
    padding-top: 10px;
}