.item{
    /*padding-top: 25px;*/
    /*padding-bottom: 10px;*/
    /*text-align: center;*/

}
.itemImg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.itemImg img {
    height: 44px;
    width: 44px;
    border-radius: 100%;
    padding:  10px 5px 5px 5px;
}
