.wrapPagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.selectedPage, .noSelectedPage {
    padding: 0 8px;
    border-radius: 2em;
    width: 15px;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;
}

.selectedPage {
    font-weight: 700;
    color: #727475;
}

.noSelectedPage {
    color: #26A69A;
    font-weight: 500;
}

.btnShift {
    background-color: #26A69A;
    border: 0;
    margin-left: 8px;
    border-radius: 3px;
    outline: none;
}
.iconShift {
    color: #FFFFFF;
}
.btnShift:active {
    background-color: #22958b;
}

.btnShift::-moz-focus-outer, ::-moz-focus-inner, .btnShift:focus {
    border: 0;
    padding: 0;
}
.btnShift:hover{
    cursor: pointer;
}


